.reference{
background-color: rgb(160, 127, 17);
background-color: rgb(228, 216, 182);
}


*{
    margin: 0px;
    padding: 0px;
}

/* .signUpContainer{
    background-color: rgb(228, 216, 182); 
    height: 630px;
    width: 100%;
   
} */

#signUpInfo{
   display: flex; 
   
}

#signUpInfo2{
    display: flex;
    
}

.intro{
    margin-top: 20px;
    height: 250px;
    background-color: rgb(160, 127, 17);
    text-decoration: none;
    width: 600px;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    margin-right: 30px;
    
}

.intro2{
    margin-top: 20px;
    height: 250px;
    background-color: rgb(160, 127, 17);
    text-decoration: none;
    width: 600px;
    text-align: center;
    justify-items: center;
    font-size: 50px;
    
}

.dashboard{
    margin-top: 30px;
    background-color: rgb(160, 127, 17);
    width: 1200px;
    height: 30px;
    text-align: left;
    justify-content: center;
    padding: 20px;
    font-size: 40px;
}

.signupButton{
    text-decoration: none;
    justify-items: center;
    color:rgb(228, 216, 182);
}

.itemsContainer{
    justify-content: center;
}





